<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">



     <context:annotation-config></context:annotation-config>
	<bean id="heart" class="com.bridgelabz.byname.Heart"></bean>
	
	<bean id="heartObject" class="com.bridgelabz.bytype.Heart"></bean>
	
	<bean id="heartObj" class="com.bridgelabz.byconstructor.Heart"></bean>


	<bean id="human" class="com.bridgelabz.byname.HumanName"
		autowire="byName">

	</bean>

	<bean id="human2" class="com.bridgelabz.bytype.HumanType"
		autowire="byType">

	</bean>
	
	<bean id="human3" class="com.bridgelabz.byconstructor.HumanConstructor"
		autowire="constructor">

	</bean>
	
	<bean id="heartannotationconstructor" class="com.bridgelabz.annotation.constructor.Heart"></bean>
	
	<bean id="humanannotationconstructor" class="com.bridgelabz.annotation.constructor.Human"></bean>
	
	
	
	<bean id="heartannotationsetter" class="com.bridgelabz.annotation.setter.Heart"></bean>
	
	<bean id="humanannotationsetter" class="com.bridgelabz.annotation.setter.Human"></bean>
	
	<bean id="qualifier1" class="com.bridgelabz.annotation.qualifier.Heart"></bean>
	<bean id="qualifier2" class="com.bridgelabz.annotation.qualifier.Heart"></bean>
	
	<bean id="humanannotationqualifier" class="com.bridgelabz.annotation.qualifier.Human"></bean>
	
	
</beans>